/Work/chapter -2/todolist-2-1/nbproject/private/
/Work/chapter -2/todolist-2-1/build/
/Work/W3School/nbproject/private/
/Work/W3School/build/
/Work/chapter -6/sportsstore/nbproject/private/
/Work/chapter -6/sportsstore/build/
/Work/DemoProject/nbproject/private/
/Work/DemoProject/build/
/Work/W3/nbproject/private/
/Work/W3/build/
/Work/Evidence/jsfhibernate37roundcrud-OLD/jsfhibernate37roundcrud/build/
/Work/Evidence/jsfhibernate37roundcrud-OLD/jsfhibernate37roundcrud/dist/
/Work/Evidence/jsfhibernate37roundcrud-OLD/jsfhibernate37roundcrud/nbproject/private/
/Work/Evidence/jsfhibernate37roundcrud/nbproject/private/
/Work/Evidence/jsfhibernate37roundcrud/build/
/Work/Evidence/CURED-Operation1/nbproject/private/
/Work/Evidence/cured1/nbproject/private/
/Work/Evidence/SAEX/jsfhibernateprimefacesevidence1/nbproject/private/
/Work/Evidence/MAEX/Evidemce4/nbproject/private/
/Work/Evidence/MAEX/Evidemce4/build/
/Work/Evidence/SAEX/jsfhibernateprimefacesevidence1/build/
/Work/Evidence/SAEX/jsfhibernateprimefacesevidence1/dist/
/Work/Evidence/MAEX/Evidemce4/dist/
/Work/Evidence/curedoprsn1/nbproject/private/
/Work/Evidence/curedoprsn1/build/