/Work/chapter -2/todolist-2-1/nbproject/private/
/Work/chapter -2/todolist-2-1/build/
/Work/W3School/nbproject/private/
/Work/W3School/build/
/Work/chapter -6/sportsstore/nbproject/private/
/Work/chapter -6/sportsstore/build/
/Work/DemoProject/nbproject/private/
/Work/DemoProject/build/